In [1]:
import pandas as pd

In [7]:
data = pd.read_excel("uc-data/etude client été finale.ods",engine="odf")
df = pd.read_csv("data_cleaned_map.csv")

In [8]:
df.head(3)

,Unnamed: 0,boutique,code_postal,client_anciennete,frequence_visites,captation,causes_achats,produit_prefere,produits_moins_connus,client_internet,volonte_boutique_proche,lat,lon,lat_boutique,lon_boutique
0,0,Saint-Jean-de-Luz,31410,Depuis quelques annees,exceptionelle,bouche_a_oreille,pour me faire plaisir; pour regaler ma famille,Gateau basque,Je ne sais pas,Non,Non,43.367108,1.272896,43.387076,-1.663569
1,1,Saint-Jean-de-Luz,64500,Depuis toujours,exceptionelle,bouche_a_oreille,pour me faire plaisir; pour regaler ma famille...,Autres,Autres,Non,sans_avis,43.388867,-1.638179,43.387076,-1.663569
2,2,Saint-Jean-de-Luz,62400,Depuis quelques annees,regulier,boutique,pour me faire plaisir,Autres,Autres,Non,sans_avis,50.528190,2.642115,43.387076,-1.663569

In [9]:
df = df.drop(columns={"lat",'lon','lat_boutique','lon_boutique'})

In [10]:
data.head(2)

,Horodateur,Unnamed: 1,Unnamed: 2,Boutique,code postal,Depuis combien de temps êtes vous un client de la Maison Pariès ?,A quelle fréquence venez-vous nous rendre visite ?,Comment nous avez-vous connus ?,"En 2 mots, comment définiriez-vous la Maison ?",A quelle(s) occasion(s) effectuez-vous des achats chez nous,...,Pourquoi ?.1,Que devons-nous faire pour progresser ?,"14. Dans les grandes évolutions de la consommation, quelles sont les 3 qui vous tiennent le plus à cœur ?",Sexe,Quelle est votre catégorie socio-professionnelle ?,Tranche d'âge,de combien de personnes se compose votre foyer ?,"S'il y a des enfants dans votre foyer, quel âge ont-ils ?",Êtes-vous abonné à notre newsletter ?,"Si non, confiez-moi votre adresse mail pour recevoir notre actualité (moins de 10 mails par an)"
0,2022-06-08 12:11:42,2022-06-07 00:00:00,12:06:00,St Jean,31410,Depuis quelques années,visite exceptionnelle,bouche à oreille,Accueillant,pour me faire plaisir; pour régaler ma famille,...,Associé à la région,Je ne sais pas,"Alimentation durable (naturalité, moins de gas...",Femme,Retraité,65 et +,2.0,NaN,Non,NaN
1,2022-06-08 12:17:46,2022-06-08 00:00:00,12:12:00,St Jean,64500,Depuis toujours,visite exceptionnelle,"avec vos parents, votre famille",Bon; Fiable,pour me faire plaisir; pour régaler ma famille...,...,NaN,Je ne sais pas,Alimentation santé bien être et transparence,Femme,Retraité,65 et +,2.0,NaN,Non,NaN

In [13]:
df['taille_famille'] = data['de combien de personnes se compose votre foyer ?']
df.head(1)

,Unnamed: 0,boutique,code_postal,client_anciennete,frequence_visites,captation,causes_achats,produit_prefere,produits_moins_connus,client_internet,volonte_boutique_proche,taille_famille
0,0,Saint-Jean-de-Luz,31410,Depuis quelques annees,exceptionelle,bouche_a_oreille,pour me faire plaisir; pour regaler ma famille,Gateau basque,Je ne sais pas,Non,Non,2.0

In [14]:
df.isna().sum()

Unnamed: 0                 0
boutique                   0
code_postal                0
client_anciennete          0
frequence_visites          0
captation                  0
causes_achats              0
produit_prefere            0
produits_moins_connus      0
client_internet            0
volonte_boutique_proche    0
taille_famille             4
dtype: int64

In [15]:
df['taille_famille'].value_counts()

2.0     507
4.0     205
1.0     193
3.0     168
5.0      88
6.0      21
8.0       2
7.0       2
12.0      1
Name: taille_famille, dtype: int64

In [18]:
type(df['taille_famille'][0])

numpy.float64

In [25]:
def clean(x) :
    if x > 4.0 : 
        x = 100.0
    return x

df['taille_famille'] = df['taille_famille'].apply(clean)

In [26]:
df['taille_famille'].value_counts()

2.0      507
4.0      205
1.0      193
3.0      168
100.0    114
Name: taille_famille, dtype: int64

In [27]:
df.head(5)

,Unnamed: 0,boutique,code_postal,client_anciennete,frequence_visites,captation,causes_achats,produit_prefere,produits_moins_connus,client_internet,volonte_boutique_proche,taille_famille
0,0,Saint-Jean-de-Luz,31410,Depuis quelques annees,exceptionelle,bouche_a_oreille,pour me faire plaisir; pour regaler ma famille,Gateau basque,Je ne sais pas,Non,Non,2.0
1,1,Saint-Jean-de-Luz,64500,Depuis toujours,exceptionelle,bouche_a_oreille,pour me faire plaisir; pour regaler ma famille...,Autres,Autres,Non,sans_avis,2.0
2,2,Saint-Jean-de-Luz,62400,Depuis quelques annees,regulier,boutique,pour me faire plaisir,Autres,Autres,Non,sans_avis,2.0
3,3,Saint-Jean-de-Luz,33820,Depuis quelques annees,exceptionelle,boutique,pour me faire plaisir; pour faire un cadeau,Autres,Autres,Non,oui,2.0
4,4,Saint-Jean-de-Luz,64210,Depuis quelques annees,exceptionelle,bouche_a_oreille_et_boutique,pour me faire plaisir; pour faire un cadeau,Autres,Gateau basque aux agrumes,Non,sans_avis,2.0

In [31]:
df['client_anciennete'].value_counts()

Depuis quelques annees                599
Depuis toujours                       320
C’est une de mes premieres visites    228
Depuis moins d'un an                   44
Name: client_anciennete, dtype: int64

In [30]:
df.to_csv('data_cleaned_ml.csv')